<div style="display: flex; justify-content: center; align-items: center; height: fit-content">
  <div style="width: 100%;
  gap: 110px;
  display: flex;
  justify-content: center;
  align-items: center;">
<div style="display: flex;flex-direction: column;align-items: center;">
  <div class="img-container" >
    <img src="../../../../assets/patients_icon.png" height="70" width="70"/>
  </div>
  <p class="data-basic">New Patients</p>
  <p class="data-basic" style="margin-top: 3%;">{{newPatients}}</p>
</div>

<div style="display: flex;flex-direction: column;align-items: center;">
  <div class="img-container" >
    <img src="../../../../assets/income.png" height="70" width="70"/>
  </div>
  <p class="data-basic">Income</p>
  <p class="data-basic" style="margin-top: 3%;">{{Income}}</p>
</div>
<div style="display: flex;flex-direction: column;align-items: center;">
  <div class="img-container" >
    <img src="../../../../assets/outCome.png" height="70" width="70"/>
  </div>
  <p class="data-basic">Outcome</p>
  <p class="data-basic" style="margin-top: 3%;">{{outCome}}</p>
</div>
<div style="display: flex;flex-direction: column;align-items: center;">
  <div class="img-container" >
    <img src="../../../../assets/pulses.png" height="70" width="70"/>
  </div>
  <p class="data-basic">Pulses</p>
  <p class="data-basic" style="margin-top: 3%;">{{pulses}}</p>
</div>
<div style="display: flex;flex-direction: column;align-items: center;">
  <div class="img-container" >
    <img src="../../../../assets/reser.png" height="70" width="70"/>
  </div>
  <p class="data-basic">Reservations</p>
  <p class="data-basic" style="margin-top: 3%;">{{reservationsNumber}}</p>
</div>
</div>
</div>

<div class="whole">
    <div class="container">
        <div class="rectangle"
        (click)="GoTo(0)">
            Rooms
        </div>
        <div class="rectangle"
             (click)="GoTo(1)">
            Patients
        </div>
        <div class="rectangle"
             (click)="GoTo(2)">
            Doctors
        </div>
        <div class="rectangle"
             (click)="GoTo(3)">
            Receptionist
        </div>
        <div class="rectangle"
             (click)="GoTo(4)">
            Services
        </div>
        <div class="rectangle"
             (click)="GoTo(5)">
            Packages
        </div>
        <div class="rectangle"
             (click)="GoTo(6)">
            Materials
        </div>
        <div class="rectangle"
             (click)="GoTo(8)">
            Expenses
        </div>
    </div>
</div>