  <div class="whole">
    <div class="container">
        <div class="rectangle"
        (click)="GoTo(0)">
            Rooms
        </div>
        <div class="rectangle"
             (click)="GoTo(1)">
            Patients
        </div>
        <div class="rectangle"
             (click)="GoTo(2)">
            Doctors
        </div>
        <div class="rectangle"
             (click)="GoTo(3)">
            Receptionist
        </div>
        <div class="rectangle"
             (click)="GoTo(4)">
            Services
        </div>
        <div class="rectangle"
             (click)="GoTo(5)">
            Packages
        </div>
        <div class="rectangle"
             (click)="GoTo(6)">
            Materials
        </div>
        <div class="rectangle"
             (click)="GoTo(8)">
            Expenses
        </div>
        <div class="fs-3 rectangle"
        (click)="GoTo(10)">
       Doctor Schedular
   </div>
    </div>
</div>
