<!-- admin-home.component.html -->
<div class="whole">
    <div class="container">
        <div class="rectangle" (click)="GoTo(0)">
            Rooms
        </div>
        <div class="rectangle" (click)="GoTo(1)">
            Patients
        </div>
        <div class="rectangle" (click)="GoTo(2)">
            Doctors
        </div>
        <div class="rectangle" style="font-size: 25.5px" (click)="GoTo(3)">
            Doctor Schedular
        </div>
        <div class="rectangle" (click)="GoTo(4)">
            Receptionist
        </div>
        <div class="rectangle" (click)="GoTo(5)">
            Services
        </div>
        <div class="rectangle" (click)="GoTo(6)">
            Packages
        </div>
        <div class="rectangle" (click)="GoTo(7)">
            Reserved Packages
        </div>
        <div class="rectangle" (click)="GoTo(8)">
            Materials
        </div>
                <div class="rectangle" (click)="GoTo(9)">
                    Expenses
                </div>
        <div class="rectangle" style="font-size: 25.5px" (click)="GoTo(10)">
            Monthly Income
        </div>

        <div class="rectangle" (click)="GoTo(11)">
            Contributors
        </div>

    </div>
</div>