.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 25px;
  }
  .ant-tabs-tab-btn{
    font-size: 25px;
  }
  .ant-tabs>.ant-tabs-nav .ant-tabs-nav-more, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-more {
    display: none !important;
  }
  .ant-tabs-nav-wrap ant-tabs-nav-wrap-ping-left{
    display: none !important;
  }
  .ant-tabs {
    width: 100%;
  }
  .grid{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
