<div class="content">


  <div class=" mx-auto my-2 d-flex justify-content-between overflow-hidden "    style="width:90%; height: 50px;">
    <div class="h-100" *ngIf="loggedIn.userType=='ROLE_ADMIN'">
      <a class="btn btn-success h-100" style="line-height: 40px;" (click)="openDialog('room' , activeTabTitle)"><i class="bi bi-plus"></i> Add New Room</a>
    </div>
    <div class="h-100" *ngIf="loggedIn.userType=='ROLE_ADMIN'">
      <a class="btn btn-success h-100" style="line-height: 40px;" (click)="openDialog('clinic' , activeTabTitle)"><i class="bi bi-plus"></i> Add New Clinic</a>
    </div>
    <div class="h-100">
    <a class="btn btn-success h-100" style="line-height: 40px;" (click)="openDialog('reservation' ,activeTabTitle ,selectedDate)"><i class="bi bi-plus"></i> Add New Reservation</a>
    </div>
 <div class="h-100">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>




<!-- /////////////////////////////////////////////////// -->

  <app-available-slots></app-available-slots>
  <nz-tabset nzCentered [(nzSelectedIndex)]="selectedTabIndex" (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab *ngFor="let room of roomsNames" [nzTitle]="room">
      <app-events-grid  [eventsPerRoom]="allReservations[room]" [roomName]="room" [date]="selectedDate" class="grid"></app-events-grid>
    </nz-tab>
  </nz-tabset>

</div>
