<nz-table
  class="mx-auto"
  style="width: 70%"
  #dynamicTable
  [nzData]="reservations"
  [nzTableLayout]="'auto'"
  [nzBordered]="true"
  [nzOuterBordered]="true"
  [nzSimple]="false"
  [nzPaginationType]="paginationType"
  [nzPaginationPosition]="position"
  [nzFrontPagination]="false"
  [nzShowPagination]="true"
  [nzSize]="size"
  [nzTotal]="totalItems"
  [nzPageSize]="pageSize"
  [nzPageIndex]="currentPage"
  (nzPageIndexChange)="onReservationsPageChange($event)"
>
  <thead>
    <tr>
      <th [nzAlign]="'center'">Doctor</th>
      <th [nzAlign]="'center'">Services</th>
      <th [nzAlign]="'center'">Date</th>
      <th [nzAlign]="'center'">Time</th>
      <th [nzAlign]="'center'">Note</th>
      <th [nzAlign]="'center'">Status</th>
    </tr>
  </thead>
  <tbody style="background-color: #f2f2f2">
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr style="cursor: pointer">
        <td [nzAlign]="'center'">{{ data.doctorName }}</td>
        <td [nzAlign]="'center'">
          <span *ngFor="let ser of data.service; let last = last">
            {{ ser }}<ng-container *ngIf="!last"> - </ng-container>
          </span>
        </td>
        <td [nzAlign]="'center'" style="font-size: 12px">{{ data.date }}</td>
        <td [nzAlign]="'center'" style="font-size: 12px">{{ data.time }}</td>
        <td [nzAlign]="'center'" style="font-size: 12px">{{ data.note }}</td>
        <td [nzAlign]="'center'">
          <span class="badge btn" [ngClass]="{
            'btn-primary': data.status === 'IN_PROGRESS',
            'btn-success': data.status === 'CONFIRMED',
            'btn-dark': data.status === 'COMPLETED',
            'btn-warning': data.status === 'WAITING',
            'btn-danger': data.status === 'CANCELLED',
            'btn-info': data.status === 'TO_DOCTOR',
            'btn-secondary': data.status === 'DONE'
          }">
            {{ data.status }}
          </span>
        </td>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
