
<!-- Table -->
<app-table [data]="dataSource.data" [columns]="tableColumns" [totalItems]="totalItems" [pageSize]="pageSize"
  [currentPage]="currentPage + 1" (onPageChange)="onPageChange($event)">
</app-table>

<!-- Services template -->
<ng-template #servicesTemplate let-row>
  <span *ngFor="let ser of row.service; let last = last">
    {{ ser }}<ng-container *ngIf="!last"> - </ng-container>
  </span>
</ng-template>

<!-- Status template -->
<ng-template #statusTemplate let-row>
  <span class="badge btn" [ngClass]="getStatusClass(row.status)">
    {{ row.status }}
  </span>
</ng-template>