<div class=" mx-auto my-2 d-flex justify-content-between overflow-hidden "    style="width:90%; height: 50px;">
    <div class="h-100"> <a class="btn btn-info h-100" style="line-height: 40px;" (click)="openDialog('Package')"> <i class="bi bi-plus"></i> Reserve Package </a></div>
    <div class="h-100"> <a  class="btn btn-info h-100" style="line-height: 40px;" (click)="openDialog('Product')"> <i class="bi bi-plus"></i> Reserve Material </a></div>

    <div class="h-100">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="h-100">
      <button mat-button class="custom-gray-button" (click)="clearFilter()">Clear Filter</button>
  </div>
  </div>

  <nz-table
  class="mx-auto"  style="width:90%"
  #dynamicTable
  [nzScroll]="{ x: scrollX, y: scrollY }"
  [nzData]="listOfData"
  [nzTableLayout]="settingValue.tableLayout"
  [nzBordered]="settingValue.bordered"
  [nzOuterBordered]	=true
  [nzSimple]="settingValue.simple"
  [nzLoading]="settingValue.loading"
  [nzPaginationType]="settingValue.paginationType"
  [nzPaginationPosition]="settingValue.position"
  [nzFrontPagination]="settingValue.pagination"
  [nzShowPagination]="settingValue.pagination"
  [nzSize]="settingValue.size"
 >
  <thead>
    <tr *ngIf="settingValue.header"  style="cursor: pointer;">
      <th [nzAlign]="'center'">Patient Name</th>
      <th [nzAlign]="'center'">Package</th>
      <th [nzAlign]="'center'"> Expire </th>
      <!-- <th [nzAlign]="'center'">Start</th>
      <th [nzAlign]="'center'">End</th> -->
      <th colspan="2" [nzAlign]="'center'">Action</th>
      <!-- <th [nzAlign]="'center'">Action</th> -->
    </tr>
  </thead>
  <tbody style="background-color: #F2F2F2;">
    <ng-container *ngFor="let data of dynamicTable.data">
      <tr >
        <td [nzLeft]="fixedColumn" [nzAlign]="'center'">{{ data.patientName }}</td>
        <td [nzLeft]="fixedColumn" [nzAlign]="'center'">{{ data.packageName }}</td>
        <td [nzAlign]="'center'" style="font-size: 12px;">{{ data.expire}}</td>
        <!-- <td  [nzAlign]="'center'">{{ data.startTime }}</td>
        <td [nzAlign]="'center'">{{ data.endTime }}</td> -->
        <td colspan="2" [nzAlign]="'center'"><a (click)="changeConfirmStatus(data.id ,data)" class="btn btn-danger">Cancel</a></td>
       </tr>
    </ng-container>
  </tbody>
</nz-table>
