<div class="mx-auto my-2 d-flex justify-content-between overflow-hidden" style="width:90%; height: 50px;">
  <div class="h-100">
    <a class="btn btn-info h-100" style="line-height: 40px;" (click)="openDialog('Package')">
      <i class="bi bi-plus"></i> Reserve Package
    </a>
  </div>
  <div class="h-100">
    <a class="btn btn-info h-100" style="line-height: 40px;" (click)="openDialog('Product')">
      <i class="bi bi-plus"></i> Reserve Material
    </a>
  </div>
  <div class="h-100">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="h-100">
    <button mat-button class="custom-gray-button" (click)="clearFilter()">Clear Filter</button>
  </div>
</div>

<app-table
  [data]="dataSource.data"
  [columns]="tableColumns"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [currentPage]="currentPage + 1"
  (onPageChange)="onPageChange($event)">
</app-table>

<ng-template #expireTemplate let-row>
  <span>{{ row.expire }}</span>
</ng-template>
