.img-container{
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #6F2DBD 0.8px solid;
}

.data-basic{
  font-family: 'URW Chancery L', cursive;
  font-size: 18px;
  font-weight: 800;
  margin-top: 10%;
}
