<nav>
  <div class="navv">
    <div class="rightNav">
      <div class="NavItem"
           style="margin-right: 50px"
           [routerLink]="['login']"
           routerLinkActive = 'active'
      >
        Logout
      </div>
      <div class="NavItem"
           [routerLink]="['AdminProfile']"
           routerLinkActive = 'active'
      >
        Profile
      </div>
      <div class="NavItem"
           [routerLink]="['AdminHome']"
           routerLinkActive = 'active'
      >
        Home
      </div>
    </div>

    <div style="margin-left: 50px">
      <img src="../../../../assets/logo.png" height="60" width="85"/>
    </div>

  </div>

</nav>
