<div  class="sidebar">

  <div class="row-non-active">
    <img alt="logo" src="../../../../assets/logo.png" height="85" width="106"/>
  </div>

  <div class="row-non-active"  [routerLink]="['addpatient']" routerLinkActive="active">
    Add New Patient
  </div>

  <div class="row-non-active"  [routerLink]="['rooms']" routerLinkActive="active">
    Rooms
  </div>

  <div class="row-non-active"  [routerLink]="['doctorscedule']" routerLinkActive="active">
    Doctor Schedule
  </div>


  <div class="row-non-active"  [routerLink]="['reservation']" routerLinkActive="active">
    Reservation
  </div>


  <div class="row-non-active"  [routerLink]="['expense']" routerLinkActive="active">
    Expense
  </div>

  <div class="row-non-active"  [routerLink]="['package']" routerLinkActive="active">
    Package
  </div>


  <div class="row-non-active" [routerLink]="['dailysheet']" routerLinkActive="active">
    Daily Sheet
  </div>


  <div class="row-non-active" [routerLink]="['coversheet']" routerLinkActive="active">
    Cover Sheet
  </div>




  <a  (click)="loggOut()"
  [routerLink]="['/login']">
      <img src="../../../../assets/log-out.png" class="log-out"/>
  </a>
</div>
