.sidebar{
  width: 20%;
  height: 100%;
  background-color: rgba(111,45,189 , 0.15);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 25px;
  .row-non-active{
    padding: 5%;
  }
  .active{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: underline;
  }
  .log-out{
    margin-top: 19%;
    height: 51px;
    width: 51px;
  }

}
.sidebar .row-non-active {
  cursor: pointer;
}
