<div class=" mx-auto my-2 d-flex justify-content-between overflow-hidden "    style="width:90%; height: 50px;">
    <div class="h-100"> <a (click)="openDialog('expense')" class="btn btn-info h-100" style="line-height: 40px;" > <i class="bi bi-plus"></i> Add nw Expense </a></div>
    <div class="h-100" *ngIf="userType=='admin'"> <a (click)="openDialog('type')" class="btn btn-info h-100" style="line-height: 40px;" > <i class="bi bi-plus"></i> Add Expense Type </a></div>

    <!-- <div class="h-100"> <a  class="btn btn-info h-100" style="line-height: 40px;"> <i class="bi bi-plus"></i> Add Company Expense </a></div> -->

    <div class="h-100">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="selectedDate" (dateChange)="onDateChange($event)" [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="h-100">
      <button mat-button class="custom-gray-button" (click)="clearFilter()">Clear Filters</button>
  </div>
  </div>
  <nz-table
      class="mx-auto"  style="width:90%"
      #dynamicTable
      [nzScroll]="{ x: scrollX, y: scrollY }"
      [nzData]="listOfData"
      [nzTableLayout]="settingValue.tableLayout"
      [nzBordered]="settingValue.bordered"
      [nzOuterBordered]	=true
      [nzSimple]="settingValue.simple"
      [nzLoading]="settingValue.loading"
      [nzPaginationType]="settingValue.paginationType"
      [nzPaginationPosition]="settingValue.position"
      [nzFrontPagination]="settingValue.pagination"
      [nzShowPagination]="settingValue.pagination"
      [nzSize]="settingValue.size"
     >
      <thead>
        <tr *ngIf="settingValue.header"  style="cursor: pointer;">
           <th [nzAlign]="'center'">Name</th>
          <th [nzAlign]="'center'">Amount</th>
          <th [nzAlign]="'center'">Image</th>
          <th [nzAlign]="'center'">Note</th>
          <th *ngIf="userType=='Admin'" [nzAlign]="'center'">Reciptianist Name</th>
        </tr>
      </thead>
      <tbody style="background-color: #F2F2F2;">
        <ng-container *ngFor="let data of dynamicTable.data">
          <tr >
            <td [nzAlign]="'center'" [nzAlign]="'center'">{{ data.type }}</td>
            <td [nzAlign]="'center'" style="font-size: 12px;">{{ data.amount }}</td>
            <td  [nzAlign]="'center'">{{ data.image }}</td>
            <td  [nzAlign]="'center'">{{ data.note }}</td>
            <td *ngIf="userType=='Admin'"  [nzAlign]="'center'">{{ data.receptionistName }}</td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
