.grid-events {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  .grid-item {
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
  }

  /* Green color for CONFIRMED status */
  .grid-item-confirmed {
    background-color: rgba(0, 149, 170, 0.3);
    padding: 10px;
    text-align: center;
}
/* Blue color for IN_PROGRESS status */
.grid-item-inProgress {
  background-color: rgba(60, 179, 113, 0.3);
    padding: 10px;
    text-align: center;
}
/* Yellow color for WAITING status */
.grid-item-waiting {
    background-color: rgba(255, 155, 0, 0.3);
    padding: 10px;
    text-align: center;
}
/* Red color for CANCELLED status */
.grid-item-cancelled {
    background-color: rgba(255, 0, 0, 0.3); 
    padding: 10px;
    text-align: center;
}
/* Purple color for TO_DOCTOR status */
.grid-item-toDoctor {
    background-color: rgba(128, 0, 128, 0.3); 
    padding: 10px;
    text-align: center;
}
}

.grid-item-inProgress:hover {
  transform: scale(0.9); /* Zoom in effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow on hover */
}
.flex-all{
  display: flex;
  justify-content: space-between;
  width: 85%;
}
