<app-nav-bar-cont></app-nav-bar-cont>
<!-- <app-reports></app-reports> -->
<div class="mx-auto my-2 d-flex justify-content-end overflow-hidden bg-body-secondary" style="width: 90%; height: 50px;">
 <div class="h-100">
      <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker" (dateChange)="onDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  </div>
</div>
<nz-table #nestedTable
          [nzData]="data"
          [nzPageSize]="10"
          class="mx-auto"
          style="width: 60%; margin-top: 3%"
          #dynamicTable
          [nzTableLayout]="'auto'"
          [nzBordered]="true"
          [nzOuterBordered]="true"
          [nzSimple]="false"
          [nzPaginationType]="paginationType"
          [nzPaginationPosition]="position"
          [nzFrontPagination]="true"
          [nzShowPagination]="true"
          [nzSize]="size"
>
  <thead>
  <tr>
    <th [nzAlign]="'center'">Date</th>
    <th [nzAlign]="'center'">Profit</th>
    <th [nzAlign]="'center'">Expenses</th>
    <th [nzAlign]="'center'">Total</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of dynamicTable.data">
    <tr  style="cursor: pointer; font-size: 16px">
      <td [nzAlign]="'center'">{{ data.date  }}</td>
      <td [nzAlign]="'center'">{{ data.totalProfit  }}</td>
      <td [nzAlign]="'center'">{{ data.totalExpenses  }}</td>
      <td [nzAlign]="'center'">{{ data.totalNet  }}</td>
    </tr>
  </ng-container>
  </tbody>
</nz-table>

