<section>
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col">
        <!-- Header with Services and Points Info -->
        <div class="row align-items-center mb-4">
          <div class="col-md-8">
            <p>
              <span class="h2">Services </span>
              <span class="h4">({{ completedServices.length }} item in your cart)</span>
            </p>
          </div>
          <div class="col-md-4">
            <div *ngIf="TotalPoints>0" class="card text-white shadow"
              style="background-color: rgba(111, 45, 189, 0.6);">
              <div class="card-body p-3">
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1">
                    <div class="d-flex justify-center align-items-center">
                      <mat-icon class="me-2">label_important</mat-icon>
                      <h6 class="card-title mb-1">
                        You have
                      </h6>
                    </div>

                    <h4 class="mb-0 fw-bold">{{ TotalPoints }} Point</h4>
                    <small class="opacity-75">Available for use</small>
                  </div>
                  <div class="ms-3">
                    <mat-icon style="font-size: 32px; width: 32px; height: 32px; opacity: 0.5;">star</mat-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Services List -->
        <div class="row">
          <div *ngFor="let service of completedServices; let i = index" class="card mb-4">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-6 border-end border-1">
                  <div class="row mb-3 align-items-center">
                    <div class="col-md-3 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Service Name</p>
                        <p class="lead fw-normal mb-0">
                          {{ service.serviceName }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">pulses</p>
                        <p class="lead fw-normal mb-0">
                          <i class="fas fa-circle me-2" style="color: #fdd8d2"></i>
                          {{ service.pulses }}
                        </p>
                      </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Price</p>
                        <p class="lead fw-normal mb-0">{{ service.price }}</p>
                      </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center">
                      <div>
                        <p class="small text-muted mb-4 pb-2">Total</p>
                        <p class="lead fw-normal mb-0">
                          {{ service.totalCost }}
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 pt-3 border-top border-1 d-flex">
                    <div class="col-md-2 mx-3 d-flex justify-content-center">
                      <a (click)="showNormal(i)" class="mx-2 btn btn-success"
                        [ngClass]="{ 'disabled-link': service.Paid }">
                        Normal
                      </a>
                    </div>
                    <div class="col-md-2 mx-3 d-flex justify-content-center"
                      *ngIf="paymentsMethods.points.length > 0 && paymentsMethods.points[0] > 0 && service.price && service.pulses">
                      <a (click)="showPoints(i)" class="mx-2 btn btn-success"
                        [ngClass]="{ 'disabled-link': service.Paid }">
                        Points
                      </a>
                    </div>
                    <div class="col-md-2 mx-3 d-flex justify-content-center"
                      *ngIf="paymentsMethods.packages.length > 0 && doesServiceExist(service.serviceName) > 0">
                      <a (click)="payFromPackages(i , service)" class="mx-2 btn btn-success"
                        [ngClass]="{ 'disabled-link': service.Paid }">
                        Package
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row align-items-center justify-content-around">
                    <!-- Normal Payment Form -->
                    <div *ngIf="selectedCardIndex === i && this.selectedMethod===1 && !service.Paid">
                      <form>
                        <div class="row m-2 justify-content-between">
                          <label for="Payment" class="form-label w-100">Payment Method</label><br />
                          <div class="col">
                            <input type="number" placeholder="Cash" id="cash" [(ngModel)]="normalPayment.cash"
                              class="form-control shadow" name="cash" [disabled]="showPointsButton" />
                          </div>
                          <div class="col">
                            <input type="number" placeholder="VCash" id="Vodafone"
                              [(ngModel)]="normalPayment.vodafoneCash" class="form-control shadow" name="Vodafone"
                              [disabled]="showPointsButton" />
                          </div>
                          <div class="col">
                            <input type="number" placeholder="Visa" id="visa" [(ngModel)]="normalPayment.visa"
                              class="form-control shadow" name="visa" [disabled]="showPointsButton" />
                          </div>
                        </div>
                        <div class="row m-2 justify-content-between">
                          <div class="col">
                            <input type="number" placeholder="Credit" id="credit" [(ngModel)]="normalPayment.credit"
                              class="form-control shadow" name="credit" [disabled]="showPointsButton" />
                          </div>
                          <div class="col">
                            <input type="number" placeholder="InstaPay" id="instaPay"
                              [(ngModel)]="normalPayment.instaPay" class="form-control shadow" name="InstaPay"
                              [disabled]="showPointsButton" />
                          </div>
                          <div class="col">
                            <input type="number" placeholder="Debit" id="debit" [(ngModel)]="normalPayment.debit"
                              class="form-control shadow" name="debit" [disabled]="showPointsButton" />
                          </div>
                        </div>
                        <div class="mt-3 d-flex justify-content-center" style="margin-bottom: 25px">
                          <a (click)="submitNormalPayment(service)" class="btn btn-primary"
                            [ngClass]="{ 'disabled-link': showPointsButton }">
                            Done
                          </a>
                          <a class="btn btn-success mx-2" *ngIf="service.price && service.pulses"
                            (click)="payUsingRemainPoints(service)" [ngClass]="{ 'disabled-link': !showPointsButton }">
                            Remain Points</a>
                          <a class="mx-2" *ngIf="showPointsButton" (click)="clear()"> Clear </a>
                        </div>
                      </form>
                    </div>

                    <!-- Points Payment Form -->
                    <div *ngIf="selectedCardIndex === i && this.selectedMethod===2 && !service.Paid">
                      <div class="row m-2 justify-content-between">
                        <div class="col">
                          <label class="form-label" for="currentPoints">Patient Points </label>
                          <input type="number" placeholder="current points" id="currentPoints" [(ngModel)]="TotalPoints"
                            class="form-control shadow" name="currentPoints" [disabled]="true" />
                        </div>

                        <div class="col">
                          <label class="form-label" for="currentPoints">Used Points</label>
                          <input type="number" placeholder="Enter Amount" id="amount" [(ngModel)]="usedPoints"
                            class="form-control shadow" name="amount" [disabled]="showRemainCash" [max]="service.pulses"
                            [min]="0" />
                        </div>
                      </div>
                      <div class="mt-3 d-flex justify-content-center" style="margin-bottom: 25px">
                        <a (click)="PayUsingPoints(service)" class="btn btn-primary"
                          [ngClass]="{ 'disabled-link': showRemainCash }">
                          Done
                        </a>
                        <a class="btn btn-success mx-2" (click)="showNormal(i)"
                          [ngClass]="{ 'disabled-link': !showRemainCash }">
                          Remain Cash</a>
                      </div>
                    </div>

                    <!-- Package Payment Form -->
                    <div *ngIf="selectedCardIndex === i && this.selectedMethod===3 && !service.Paid">

                    </div>

                    <div class="text-center" *ngIf="service.Paid">
                      <img src="../../../../assets/5289675.png" height="200" width="200" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row justify-content-center  mb-4">
          <div class="col-4">
            <a (click)="CompletePayment()" class="btn btn-danger">Complete Payment </a>
          </div>
        </div>

        <!-- Remaining template content -->

        <!-- <div class="card mb-5">
          <div class="card-body p-4">
            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span>
                <span class="lead fw-normal">$799</span>
              </p>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-light btn-lg me-2">Continue shopping</button>
          <button type="button" class="btn btn-primary btn-lg">Add to cart</button>
        </div> -->
      </div>
    </div>
  </div>
</section>