.disabled-link {
  pointer-events: none;
  opacity: 0.5; /* Optionally reduce opacity for a visual cue */
}
.service-container{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:5px;
  font-size: 13px;
}