<div class="mx-auto my-2 d-flex justify-content-between overflow-hidden" style="width: 90%; height: 50px;">
  <div class="h-100">
    <mat-form-field>
      <mat-label>Room</mat-label>
      <mat-select [(ngModel)]="selectedRoom" (ngModelChange)="onRoomChange()">
        <mat-option [disabled]="true">Choose Rooms</mat-option>
        <mat-option *ngFor="let room of allRooms" [value]="room.roomName">{{room.roomName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="h-100">
    <mat-form-field>
      <mat-label>Doctor</mat-label>
      <mat-select [placeholder]="'Select Doctor'" [(ngModel)]="selectedDoctor" (ngModelChange)="onDoctorChange()">
        <mat-option [disabled]="true">Choose Doctor</mat-option>
        <mat-option *ngFor="let doc of allDoctors" [value]="doc">{{doc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="h-100">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [(ngModel)]="selectedDate" [matDatepicker]="picker" (dateChange)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="h-100">
    <button mat-button class="custom-gray-button" (click)="clearFilter()">Clear Filters</button>
  </div>
</div>

<div class="my-3" style="display: flex; width: 100%; justify-content: space-around;" *ngIf="dailySheetStatus">
  <div>
    <h2>
      Start Pulse : <span style="color: black;">{{dailySheetStatus.startPulse}}</span>
    </h2>
  </div>
  <div>
    <h2>
      End Pulse : <span style="color: black;">{{dailySheetStatus.endPulse}}</span>
    </h2>
  </div>
  <div>
    <h2>
      Pulses : <span style="color: black;">{{dailySheetStatus.pulses}}</span>
    </h2>
  </div>
  <div>
    <h2>
      Balance : <span style="color: black;">{{dailySheetStatus.balance}}</span>
    </h2>
  </div>
  <div *ngIf="dailySheetStatus.status">
    <h2>
      Status : <span style="color: white;" class="bg-success badge">OK</span>
    </h2>
  </div>
  <div *ngIf="!dailySheetStatus.status">
    <h2>
      Status : <span style="color: white;" class="bg-danger badge">Not OK</span>
    </h2>
  </div>
</div>

<!-- Using the same table component as history -->
<div class="mx-auto" style="width: 90%;">
  <app-table [data]="dataSource.data" [columns]="tableColumns" [totalItems]="totalItems" [pageSize]="pageSize"
    [currentPage]="currentPage + 1" [isLoading]="loadingState" [emptyTitle]="'No Daily Sheet Data Found'"
    [emptyMessage]="'No records found for the selected filters.'" (onPageChange)="onPageChange($event)">
  </app-table>
</div>