<div style="display: flex;justify-content: space-around;">
  <div class="navClass">
    <div class="buttnAdd" (click)="goToForm()">

      <button (click)="openDialog()" class="btn btn-info" style="width: fit-content; height: 37px;">Add new Contributor</button>

    </div>
    <!-- <div class="searchInput" >
      <div class="col-6">
        <input  class="form-control h-100 bg-light" id="material-search"
                placeholder="search" type="search"
                nz-input
                [(ngModel)]="searchValue"
                [ngModelOptions]="{standalone: true}"
                (ngModelChange)="onChange($event)"
                [nzAutocomplete]="MaterialAuto"
        />
        <nz-autocomplete [nzDataSource]="filteredData" #MaterialAuto></nz-autocomplete>
      </div>
      <button class="btn btn-sm btn-info mx-2" (click)="search()">Search</button>
      <a  class="text-decoration-underline" style="color: white;" (click)="clearSearch()">Clear</a>
    </div> -->
  </div>
</div>

 
