<app-table
  [data]="dataSource.data"
  [columns]="tableColumns"
  [totalItems]="totalItems"
  [pageSize]="pageSize"
  [currentPage]="currentPage + 1"
  [emptyTitle]="'No History Found'"
  [emptyMessage]="'This user has no history yet.'"
  (onPageChange)="onPageChange($event)">
</app-table>

<ng-template #actionTemplate let-row>
      <button mat-button color="primary" (click)="openDialog({
    historyId: row.historyId,
    service: row.service,
    pulse: row.pulse,
    fluence1: row.fluence1,
    fluence2: row.fluence2,
    date: row.date,
    spot: row.spot,
    note: row.note,
    doctorName: row.doctorName,
    clinic: row.clinic,
    phoneNumber: phoneNumber
  })">
    Edit
  </button>
</ng-template>

