
<div class="border border-2 border-primary rounded container overflow-hidden"
  style="width:600px; background-color: #E5E5E5;">

  <div class="row mt-2 text-center">
    <h1 style="font-size: 33; color: black; font-weight: 800;">New Package</h1>
  </div>

  <form (submit)="submit()">
    <div class="row m-2 justify-content-between">
      <label for="patient-number" class="form-label w-100 ">Patient Number</label><br>
      <input class="form-select" id="patient-number"
      placeholder="Type Patient's Phone Number"
      nz-input
      [(ngModel)]="formData.patientPhone"
      [ngModelOptions]="{standalone: true}"
      (ngModelChange)="onChange($event)"
      [nzAutocomplete]="PatientAuto"
    />
    <nz-autocomplete [nzDataSource]="filteredData" #PatientAuto></nz-autocomplete>
    </div>

    <div class="row m-2 justify-content-between">
      <div class="col-7">
        <div class="row">
          <label for="package-type" class="form-label w-100 ">Package</label><br>
          <input class="form-select" id="package-type"
          placeholder="Select Package Name"
          nz-input
          [(ngModel)]="formData.packageName"
          [ngModelOptions]="{standalone: true}"
          (ngModelChange)="onChange2($event)"
          [nzAutocomplete]="PackageAuto"
        />
        <nz-autocomplete [nzDataSource]="filteredPackages" #PackageAuto></nz-autocomplete>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <label for="package-cost" class="form-label w-100 ">Package Cost</label><br>
      <input class="form-control" id="package-cost"
             [(ngModel)]="formData.packageCost"
             [ngModelOptions]="{standalone: true}"
             readonly
      />
        </div>
      </div>

    </div>
    <div class="row m-2 justify-content-between">
      <label for="Payment" class="form-label w-100" >Payment Method</label><br>
      <div class="col">
        <input type="number" placeholder="Cash" id="cash" [(ngModel)]="formData.cash" class="form-control shadow"
        name="cash"/>
      </div>
      <div class="col">
        <input type="number" placeholder="VCash" id="Vodafone"  [(ngModel)]="formData.vodafoneCash" class="form-control shadow"
        name="Vodafone"/>
       </div>
      <div class="col">
        <input type="number" placeholder="Visa" id="visa"  [(ngModel)]="formData.visa" class="form-control shadow"
        name="visa"/>
      </div>
    </div>
    <div  class="row m-2 justify-content-between">
      <div class="col">
        <input type="number" placeholder="Credit" id="visa"  [(ngModel)]="formData.credit" class="form-control shadow"
        name="credit"/>
      </div>
      <div class="col">
        <input type="number" placeholder="InstaPay" id="visa"  [(ngModel)]="formData.instaPay" class="form-control shadow"
        name="InstaPay"/>
      </div>
     <div class="col">
      <input type="number" placeholder="Debit" id="debit"  [(ngModel)]="formData.debit" class="form-control shadow"
      name="debit"/>
     </div>
    </div>
    <div class="mt-3 d-flex justify-content-center" style=" margin-bottom: 25px;">
      <button type="submit"
        style="width: 120px; height: 30px; background-color: #1E3A8A; color: #fff; border: none; border-radius: 4px;">
        Reserve Package
      </button>

    </div>

    </form>
</div>
