<!-- مؤقتا لسه الفورم هعملها لما نظبط ال tab -->
<div 
    style="width:600px; background-color: #F8F8F8;border: none;">

    {{serviceData.ServiceName}}
    <form  [formGroup]="afterWorkFm" (ngSubmit)="submit()">
        <div class="row m-2 mt-4 justify-content-between">
            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-person me-2 fs-4" style="margin-bottom: 7px;"></i> -->
                        <label class="form-label w-100">Name</label>
                    </div>
                    <input type="text" formControlName="name" placeholder="Name" id="Name" class="form-control shadow" />

                </div>

            </div>

            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-envelope me-2 fs-4" style="margin-bottom: 5px;"></i> -->
                        <label class="form-label w-100">Email</label>
                    </div>
                    <input type="text" formControlName="email" placeholder="Email" id="Email" class="form-control shadow"  />

                </div>

            </div>

        </div>
        <div class="row m-2 mt-4 justify-content-between">
            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-telephone me-2 fs-4" style="margin-bottom: 7px;"></i> -->
                        <label class="form-label w-100">phone Number</label>
                    </div>
                    <input type="text" formControlName="phoneNumber" placeholder="phoneNumber" id="phoneNumber" class="form-control shadow" />

                </div>

            </div>

            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-globe me-2 fs-4" style="margin-bottom: 5px;"></i> -->
                        <label class="form-label w-100">NationalId</label>
                    </div>
                    <input type="text" formControlName="nationalId" placeholder="nationalId" id="nationalId" class="form-control shadow"  />

                </div>

            </div>

        </div>
        <div class="row m-2 mt-4 justify-content-between">
            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-telephone me-2 fs-4" style="margin-bottom: 7px;"></i> -->
                        <label class="form-label w-100">Address</label>
                    </div>
                    <input type="text" formControlName="address" placeholder="address" id="address" class="form-control shadow"  />

                </div>

            </div>

            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-globe me-2 fs-4" style="margin-bottom: 5px;"></i> -->
                        <label class="form-label w-100">Status</label>
                    </div>
                    <input type="text" formControlName="status" placeholder="status" id="status" class="form-control shadow"  />

                </div>

            </div>

        </div>
        <div class="row m-2 mt-4 justify-content-between">
            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-telephone me-2 fs-4" style="margin-bottom: 7px;"></i> -->
                        <label class="form-label w-100">Hour</label>
                    </div>
                    <input type="number" formControlName="hour" placeholder="hour" id="hour" class="form-control shadow"  />

                </div>

            </div>

            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-globe me-2 fs-4" style="margin-bottom: 5px;"></i> -->
                        <label class="form-label w-100">Liser</label>
                    </div>
                    <!-- <input type="text" formControlName="isLiser" placeholder="isLiser" id="Email" class="form-control shadow" name="phone2" /> -->
                    <select class="form-select shadow" name="isLiser" formControlName="isLiser">
                        <option value="">Choose</option>

                        <option value="Yes" >Yes</option>
                        <option value="No" >No</option>
                    </select>
                </div>

            </div>

        </div>

        <div class="row m-2 mt-4 justify-content-between">
            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-telephone me-2 fs-4" style="margin-bottom: 7px;"></i> -->
                        <label class="form-label w-100">liser Cost</label>
                    </div>
                    <input type="number" formControlName="liserCost" placeholder="liserCost" id="liserCost" class="form-control shadow"  />

                </div>

            </div>

            <div class="col-5">
                <div class="row">
                    <div class="d-flex align-items-center">
                        <!-- <i class="bi bi-globe me-2 fs-4" style="margin-bottom: 5px;"></i> -->
                        <label class="form-label w-100">Pulses Percentage</label>
                    </div>
                    <input type="number" formControlName="pulsesPercentage" placeholder="pulsesPercentage" id="pulsesPercentage" class="form-control shadow"  />

                </div>

            </div>


        </div>
        <div class="row m-2 mt-4 justify-content-between">
           
            <div class="d-flex align-items-center">
                <!-- <i class="bi bi-house me-2 fs-4" style="margin-bottom:7px;"></i> -->
                <label class="form-label w-100">Password</label>
            </div>
            <input  type="text" formControlName="password" placeholder="password" id="password" class="form-control shadow"  />


</div>
        <div class="mt-3 d-flex justify-content-center" style=" margin-bottom: 25px;">
            <button type="submit"
                style="width: 160px; height: 40px; background-color: green; color: #fff; border: none; border-radius: 4px;">Add
                Doctor
            </button>

        </div>
    </form>



<!-- <div class="text-danger">
    <h3>To be Removed [For Test]:</h3>
    <div>
        Form Value: {{newDoctorFm.value |json}}
    </div>
</div> -->

