<!-- Points summary -->
<div style="margin-bottom: 20px; display: flex; flex-direction: column; align-items: center;">
  <div style="display: flex; width: 100%; justify-content: space-around;">
    <div>
      Total In: <span class="bg-info badge" style="color: black;">{{ totalIn }}</span>
    </div>
    <div>
      Total Out: <span class="bg-info badge" style="color: black;">{{ totalOut }}</span>
    </div>
    <div>
      Remain: <span class="bg-info badge" style="color: black;">{{ remain }}</span>
    </div>
  </div>
  <button class="btn btn-primary mt-3" (click)="openModal()">Send Points</button>
</div>

 

<!-- Table -->
<app-table [data]="dataSource.data" [columns]="tableColumns" [totalItems]="totalItems" [pageSize]="pageSize"
  [currentPage]="currentPage + 1" (onPageChange)="onPageChange($event)">
</app-table>

<!-- Note template -->
<ng-template #noteTemplate let-row>
  <span style="font-size: 12px; color: blueviolet; text-decoration: underline;">
    {{ row.note }}
  </span>
</ng-template>