<nz-table
        class="mx-auto"
        style="width: 75%"
        #dynamicTable
        [nzData]="idlePatients"
        [nzTableLayout]="'auto'"
        [nzBordered]="true"
        [nzOuterBordered]="true"
        [nzSimple]="false"
        [nzPaginationType]="paginationType"
        [nzPaginationPosition]="position"
        [nzFrontPagination]="true"
        [nzShowPagination]="true"
        [nzSize]="size"
>
    <thead>
    <tr style="font-size: 18px">
        <th [nzAlign]="'center'">Patient Name</th>
        <th [nzAlign]="'center'">Joined At</th>
        <th [nzAlign]="'center'">Phone Number</th>
    </tr>
    </thead>
    <tbody style="background-color: #f2f2f2">
    <ng-container *ngFor="let data of dynamicTable.data">
        <tr  style="cursor: pointer; font-size: 16px">
            <td [nzAlign]="'center'">{{ data.patientName  }}</td>
            <td [nzAlign]="'center'">{{ data.joinedAt  }}</td>
            <td [nzAlign]="'center'">{{ data.primaryPhone}}</td>
        </tr>
    </ng-container>
    </tbody>
</nz-table>
