<div
  class="filter"
  style="
    height: 80px;
    color: white;
    font-size: large;
    font-size: 25px;
    padding: 30px;
    background-color: #31263e;
    border-radius: 30px;
    margin-top: 20px;
  "
>
  Cover Sheet
  <div class="h-70" style="margin-left: 73%; margin-top: -4%">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [(ngModel)]="selectedDate"
        [matDatepicker]="picker"
        (dateChange)="onDateChange($event)"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div *ngIf="listOfData" id="report-Section" class="report-Section">
  <div style="width: 80%">
    <div class="grid-container">
      <div class="grid-item" style="width: 510px">
        <div>
          User Name :
          <span style="font-family: 'Candara', sans-serif">
            {{ listOfData.user }}
          </span>
        </div>
      </div>
      <div class="grid-item">
        <div>
          Date : <span> {{ listOfData.date }} </span>
        </div>
      </div>
    </div>

    <div class="grid-container second-row">
      <div class="grid-item">
        <div>
          Expenses : <span> {{ listOfData.expenses }} </span>
        </div>
      </div>
      <div class="grid-item">
        <div>
          Net : <span> {{ listOfData.net }} </span>
        </div>
      </div>
      <div class="grid-item">
        <div>
          Profit : <span> {{ listOfData.profit }} </span>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 80%">
    <div class="grid-container" *ngFor="let d of listOfData.laserRead">
      <div class="grid-item" style="width: 379px">
        <div>{{ "beginning of Room 215 is 1815" }}</div>
      </div>
      <div class="grid-item" style="width: 379px">
        <div>{{ "End of Room 215 is 1915" }}</div>
      </div>
    </div>
  </div>
</div>

<button
  class="mt-3 justify-content-center"
  type="submit"
  style="
    margin-bottom: 30px;
    margin-left: 43%;
    width: 130px;
    height: 30px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 4px;
  "
  (click)="generatePDF()"
>
  Print
</button>

<!--
    <nz-table
class="mx-auto"  style="width:90%"
#dynamicTable
[nzScroll]="{ x: scrollX, y: scrollY }"
[nzData]="listOfData"
[nzTableLayout]="settingValue.tableLayout"
[nzBordered]="settingValue.bordered"
[nzOuterBordered]	=true
[nzSimple]="settingValue.simple"
[nzLoading]="settingValue.loading"
[nzPaginationType]="settingValue.paginationType"
[nzPaginationPosition]="settingValue.position"
[nzFrontPagination]="settingValue.pagination"
[nzShowPagination]="settingValue.pagination"
[nzSize]="settingValue.size"
>
<thead>
  <!-- <tr *ngIf="settingValue.header"  style="cursor: pointer;">
    <th [nzAlign]="'center'">Date</th>
    <th [nzAlign]="'center'">User</th>
    <th [nzAlign]="'center'">Profit</th>
    <th [nzAlign]="'center'">Expense</th>
    <th [nzAlign]="'center'">Net</th>
  </tr> -->

<!-- <tbody style="background-color: #F2F2F2;">
     <tr >
      <th [nzAlign]="'center'">Date</th>
      <td [nzLeft]="fixedColumn" [nzAlign]="'center'">{{ listOfData.date}}</td>
    </tr>
    <tr>
        <th [nzAlign]="'center'">User</th>
        <td [nzAlign]="'center'" [nzAlign]="'center'">{{ listOfData.user}}</td>
    </tr>
    <tr>
        <th [nzAlign]="'center'">Profit</th>
        <td [nzAlign]="'center'" style="font-size: 12px;">{{ listOfData.profit }}</td>

    </tr>
    <tr>
        <th [nzAlign]="'center'">Expense</th>
        <td  [nzAlign]="'center'">{{  listOfData.expense }}</td>
    </tr>
    <tr>
        <th [nzAlign]="'center'">Net</th>

        <td  [nzAlign]="'center'">{{  listOfData.profit }}</td>
    </tr>

      <!-- <br> -->

<!-- <div style="color: #31263E; height: 20px;"></div> -->

<!-- </tbody>
</nz-table> -->
