div
{
  display: table; 
 }


p {
  text-align:center; 
  vertical-align: middle;
  display: table-cell;   
}
.small-font {
  font-size: 8px;
}
.reserved-font{
  font-size: 10px;

}
 .slot {
  width: 20px;
  height:20px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 2px;
  text-align: center;
}

.available {
  background-color: #c3e6cb;
   /* Green for available slots */
}

.unavailable {
  background-color: #6F2DBD;
  color:white;
 }
